@import 'modern-normalize/modern-normalize.css';

body {
	font-family: 'Poppins', sans-serif;
	color: #292929;
	background-color: #f0f0f0;
}

html,
body {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
}
